<!DOCTYPE html>
<html lang="en">
<head>
  <title>CTA Tracker</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no" />
  <link rel="stylesheet" media="screen" href="/css/screen.css" />
</head>
<body>
<div id="page">
  <header id="header">
    <!--<h1>CTA Tracker</h1>-->
    <nav id="navbar">
      <ul class="nav">
        <li><a href="./#favorites">FAVORITES</a></li>
        <li><a href="./#routes">ROUTES</a></li>
      </ul>
    </nav>
  </header>
  <main id="content">
    <ul id="favorites"></ul>
    <ol id="routes"></ol>
    <ul id="route-directions"></ul>
    <ul id="stops"></ul>
  </main>
  <footer class="footer">
  </footer>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/js/site.js"></script>
</body>
</html>
